/**
 * class: {{classFilename}} controllers
 * license: {{licenseInfo}}
 * generated: {{generatedDate}}
 */

const _=require("lodash");
const log=require("pig-api").log;
const writer=require("../utils/writer.js");
{{#operations}}
const {{classname}}=require("../{{implFolder}}/{{classname}}Service");
{{#operation}}

module.exports.{{nickname}}=function {{nickname}}(req, res, next) {
	{{#allParams}}
	const {{paramName}}=req.swagger.params["{{baseName}}"].value;
	{{/allParams}}
	{{classname}}.{{nickname}}(req.swagger, {{#allParams}}{{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}})
		.then(function(payload) {
			writer.writeResponse(res, payload);
		}).catch(function(error) {
			if(_.get(error, "statusCode", 500)>=500) {
				log.error(`{{path}} failed: ${error}`);
			}
			writer.writeError(res, error);
		});
};
{{/operation}}
{{/operations}}
