/**
 * name: {{appName}}
 * description: {{appDescription}}
 * license: {{licenseInfo}}
 * generated: {{generatedDate}}
 */

const fs=require("fs");
const http=require("http");
const path=require("path");
const swaggerTools=require("swagger-tools");
const pig_api=require("pig-api");

class Application {
	constructor() {
		this.app=require("connect")();
		this.serverPort={{serverPort}};
		this.server=null;
	}

	/**
	 * Initialize the swagger framework. And allow for custom initialization.
	 * Custom: you may add an <code>init.js</code> to the root.  See <code>_initializeCustom</code> for details on options.
	 * @returns {Promise}
	 */
	initialize() {
		return this._initializeFramework()
			.then(this._initializeCustom.bind(this));
	}

	/**
	 * Sets up interrupt handling and then starts up the server.
	 * @returns {Promise}
	 */
	run() {
		return new Promise((resolve, reject)=>{
			this._setupInterruptHandling();
			this.server=http.createServer(this.app);
			this.server.on("error", reject);
			this.server.listen(this.serverPort, (error)=>{
				if(error) {
					reject(error);
				} else {
					resolve();
				}
			});
		});
	}

	/**
	 * Allow custom initialization
	 * @returns {Promise}
	 * @private
	 */
	_initializeCustom() {
		return new Promise((resolve)=>{
			try {
				const module=require("./init");
				resolve(module.initialize());
			} catch(error) {
				/**
				 * Possibilities:
				 *  - there is no ./init.js
				 *  - there is no init.js::initialize
				 *  All is okay.
				 */
				resolve();
			}
		});
	}

	/**
	 * Sets up the swagger framework as well the pig environment
	 * @returns {Promise}
	 * @private
	 */
	_initializeFramework() {
		return pig_api.initialize(path.join(__dirname, "api"))
			.then((specification)=>new Promise((resolve) => {
				swaggerTools.initializeMiddleware(specification.unadulterated, (middleware) => {
					const controllerPath=path.join(__dirname, "./controllers");

					// Interpret Swagger resources and attach metadata to request - must be first in swagger-tools middleware chain
					this.app.use(middleware.swaggerMetadata());

					// Validate Swagger requests
					this.app.use(middleware.swaggerValidator());

					// Route validated requests to appropriate controller
					this.app.use(middleware.swaggerRouter({
						controllers: fs.existsSync(controllerPath)
							? controllerPath
							: [],
						useStubs: pig_api.application.isLowerEnv
					}));

					// Serve the Swagger documents and Swagger UI
					this.app.use(middleware.swaggerUi());
					resolve();
				});
			})
		);
	}

	/**
	 * Sets up interrupt handling and uncaught exception handling
	 * @private
	 */
	_setupInterruptHandling() {
		const self=this;
		function shutdown(code=0) {
			if(self.server && self.server.listening) {
				// disable our client interface and give the app a chance to gracefully shutdown
				pig_api.log.warn("shutting down in 5 seconds");
				pig_api.notification.emit(pig_api.constant.event.SHUTDOWN_START);
				self.server.close();
				pig_api.shutdown();
				setTimeout(()=>process.exit(code), 5000);
			} else {
				process.exit(code);
			}
		}

		process.addListener("SIGINT", function() {
			pig_api.log.info("shutdown requested");
			shutdown();
		});

		process.addListener("uncaughtException", function(error) {
			// we are in an uncertain state. Let's make sure that no matter what our process
			// exits and exists with an error code that we control.
			try {
				pig_api.log.error(new pig_api.error.PigError({
					error: error,
					instance: self,
					message: "uncaught exception",
					stack: error.stack
				}));
				shutdown(1);
			} catch(fatal) {
				process.exit(1);
			}
		});
	}
}

// get the party started
const application=new Application();
application.initialize()
	.then(application.run.bind(application))
	.then(()=> {
		pig_api.log.info(`'{{projectName}}' documentation:  http://localhost:${application.serverPort}/docs`);
		pig_api.log.info(`'{{projectName}}' is listening: http://localhost:${application.serverPort}`);
		pig_api.notification.emit(pig_api.constant.event.STARTUP_COMPLETE);
	})
	.catch((error)=> {
		pig_api.log.error(`'{{projectName}}' attempt to startup failed: ${error}`);
		pig_api.notification.emit(pig_api.constant.event.STARTUP_FAILED);
		process.exit(1);
	});
