{
	"name": "{{projectName}}",
	"version": "{{appVersion}}",
	"description": "{{{appDescription}}}",
	"main": "index.js",
	"license": "http://www.apache.org/licenses/LICENSE-2.0.html",
	"private": true,
	"keywords": [
		"swagger"
	],
	{{^googleCloudFunctions}}
	"scripts": {
		"execute": "node index.js",
		"setup": "npm install",
		"start": "npm run setup && npm run execute"
	},
	{{/googleCloudFunctions}}
	"dependencies": {
	{{^googleCloudFunctions}}
		"connect": "^3.6.6",
	{{/googleCloudFunctions}}
		"js-yaml": "^3.12.0",
		"lodash": "^4.17.10",
		"pig-api": "git+https://fishguts@bitbucket.org/fishguts/pig-api-njs.git",
		"swagger-tools": "0.10.3"
	}
}
