/**
 * class: {{classFilename}} services
 * license: {{licenseInfo}}
 * generated: {{generatedDate}}
 */

const pig_api=require("pig-api");
const writer=require("../utils/writer.js");

{{#operations}}
{{#operation}}
/**
{{#summary}}
 * {{{summary}}}
{{/summary}}
{{#notes}}
 * {{notes}}
{{/notes}}
 * @route {{httpMethod}} {{basePath}}{{path}}
 * @param {Object} swagger
{{#allParams}}
{{#required}}
 * @param {{=<% %>=}}{<%dataType%>}<%={{ }}=%> {{paramName}}{{#description}} - {{{description}}}{{/description}}
{{/required}}
{{^required}}
 * @param {{=<% %>=}}{<%dataType%>}<%={{ }}=%> [{{paramName}}={{#defaultValue}}{{defaultValue}}{{/defaultValue}}{{^defaultValue}}undefined{{/defaultValue}}]{{#description}} - {{{description}}}{{/description}}
{{/required}}
{{/allParams}}
 * @returns {Promise}
{{#returnType}}
 * @resolve {{body: undefined, headers: {"Content-Type": string} & any, statusCode: number}}
{{/returnType}}
 **/
exports.{{operationId}}=function(swagger, {{#allParams}}{{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}}) {
	{{#vendorExtensions.x-pig.operations}}
	const param={
		apiPath: swagger.apiPath,
		operation: swagger.operation,
		params: swagger.params
	};
	return pig_api.route.process(param)
		.then((result)=>writer.createPayload(Object.assign({swagger}, result)));
	{{/vendorExtensions.x-pig.operations}}
	{{^vendorExtensions.x-pig.operations}}
	return new Promise(function(resolve, reject) {
	{{#returnType}}
		// todo: do your work and create your payload
		const payload=writer.createPayload({
			swagger,
			body: {
				title: "Three Little Pigs"
			}
		});
		resolve(payload);
	{{/returnType}}
	{{^returnType}}
		// todo: do your work
		resolve();
	{{/returnType}}
	});
	{{/vendorExtensions.x-pig.operations}}
};

{{/operation}}
{{/operations}}
