/**
 * Client IO
 * license: {{licenseInfo}}
 * generated: {{generatedDate}}
 */

const _=require("lodash");
const pig_api=require("pig-api");

/**
 * Create a response object.  Defaults statusCode 200 and content-type to JSON
 * @param {Object} swagger object behind the route that resulted in this function call
 * @param {Object} body
 * @param {String} contentType
 * @param {Object} headers
 * @param {Number} statusCode
 * @param {Object} result
 * @returns {{body: undefined, headers: {"Content-Type": string} & any, statusCode: number}}
 */
exports.createPayload=function({
	body=undefined, 
	contentType="application/json", 
	headers=undefined, 
	statusCode=200, 
	swagger=undefined, 
	result=undefined
}={}) {
	const expectedContentTypes=_.get(swagger, "operation.produces");
	if(expectedContentTypes) {
		if(!_.includes(expectedContentTypes, pig_api.mime.parse(contentType).type)) {
			// todo: what do we want to do here? Throw an exception with information and let it go to writeError?
			pig_api.log.warn(`${swagger.apiPath}: the data we received is encoded as '${contentType}' which is not among the expected content-types ${JSON.stringify(expectedContentTypes)}`);
		}
	}
	return {
		body: body || result,
		headers: Object.assign({
			"Content-Type": contentType
		}, headers),
		statusCode: statusCode
	};
};

/**
 * Write response by means according to the payload configuration
 * @param {ServerResponse} res
 * @param {{body: undefined, headers: {contentType: string} & any, statusCode: number}} payload - see <code>createPayload</code>
 */
exports.writeResponse=function(res, payload=exports.createPayload()) {
	let body=payload.body;
	if(payload.headers["Content-Type"]==="application/json") {
		if(_.isObject(payload.body)) {
			body=JSON.stringify(payload.body);
		}
	}
	res.writeHead(payload.statusCode, payload.headers);
	res.end(body);
};

/**
 * Respond with error details.
 * @param {ServerResponse} res
 * @param {Error} error
 *  - message {String}
 *  - details {String|Object}
 *  - statusCode {Number}
 */
exports.writeError=function(res, error) {
	if(!error) {
		res.writeHead(500);
		res.end();
	} else {
		const body={
			message: error.message
		};
		if(error.hasOwnProperty("details")) {
			if(_.isObject(error.details)) {
				body.details=JSON.stringify(error.details);
			} else {
				body.details=error.details;
			}
		}
		exports.writeResponse(res, exports.createPayload({
			body: body,
			statusCode: _.get(error, "statusCode", 500)
		}));
	}
};
